:root {
  --background: 240 4.8% 95.9%;
  --text: 240 10% 3.9%;
  --warning: 0 72% 51%;
  --alert: 38 92% 50%;
  --blue: 199 89% 50%;
  --cyan: 189 94% 43%;
  --success: 142 71% 45%;
  --success-secondary: 160 84% 39%;
  --muted: 0 0% 100%;
  --border: 240 5.9% 90%;
  --primary: 0 68% 42%; /* updated */
  --primary-btn: 0 68% 42%; /* updated */
  --secondary: 240 6% 90%;
  --ring: 240 10% 3.9%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --text: 0 0% 98%;
  --warning: 0 84% 60%;
  --alert: 43 96% 56%;
  --blue: 198 93% 57%;
  --cyan: 188 86% 53%;
  --success: 142 69% 58%;
  --success-secondary: 161 94% 30%;
  --muted: 270 4% 10%;
  --border: 240 3.7% 15.9%;
  --primary: 0 0% 7%; /* updated */
  --primary-btn: 0 0% 7%; /* updated */
  --secondary: 240 4% 16%;
  --ring: 240 4.9% 83.9%;
}

body {
  font-family: 'IRANYekan';
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: var(--scrollbar-radius);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  border: var(--scrollbar-border);
}
/******************* product carousel ***********************/
.product-carousel:not(.swiper-initialized) {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.product-carousel.swiper-initialized {
  opacity: 1;
  visibility: visible;
  height: auto;
}
/******************* product carousel ***********************/
.blog-carousel:not(.swiper-initialized) {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.blog-carousel.swiper-initialized {
  opacity: 1;
  visibility: visible;
  height: auto;
}

/*Main Loader */

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-grid div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #9c001a;
  animation: lds-grid 1.2s linear infinite;
}

.prose-custom h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}
.prose-custom ul,
.prose-custom ol {
  padding-left: 1.5em !important;
}
.prose-custom li {
  margin-bottom: 0.35em;
}

/* Adjusting positions for less space */
.lds-grid div:nth-child(1) {
  top: 4px;
  left: 4px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 4px;
  left: 24px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 4px;
  left: 44px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 24px;
  left: 4px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 24px;
  left: 24px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 24px;
  left: 44px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 44px;
  left: 4px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 44px;
  left: 24px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 44px;
  left: 44px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* .Toastify__toast {
  font-family: "IRANYekan", sans-serif;
} */
