.product-slider {
  position: relative;
  overflow: hidden;
  /* padding: 0 10px; */
  min-height: 200px;
}

.product-slider .swiper-wrapper,
.product-slider .flex {
  display: flex;
  align-items: stretch;
}

.product-slider .swiper-slide,
.product-slider .flex .flex-none {
  width: 171.333px;
  margin-left: 10px;
  display: flex;
  align-items: stretch;
  transition: transform 0.3s ease;
}

.product-slider:not(.swiper-initialized) .swiper-slide,
.product-slider:not(.swiper-initialized) .flex .flex-none {
  flex: 0 0 171.333px;
  margin-left: 10px;
}

/* Breakpoints */
@media (min-width: 460px) {
  .product-slider .swiper-slide,
  .product-slider .flex .flex-none {
    width: 170px;
  }
  .product-slider:not(.swiper-initialized) .swiper-slide,
  .product-slider:not(.swiper-initialized) .flex .flex-none {
    flex: 0 0 170px;
  }
}

@media (min-width: 640px) {
  .product-slider .swiper-slide,
  .product-slider .flex .flex-none {
    width: 171.19px;
  }
  .product-slider:not(.swiper-initialized) .swiper-slide,
  .product-slider:not(.swiper-initialized) .flex .flex-none {
    flex: 0 0 171.19px;
  }
}

@media (min-width: 768px) {
  .product-slider .swiper-slide,
  .product-slider .flex .flex-none {
    width: 194px;
  }
  .product-slider:not(.swiper-initialized) .swiper-slide,
  .product-slider:not(.swiper-initialized) .flex .flex-none {
    flex: 0 0 194px;
  }
}

@media (min-width: 1024px) {
  .product-slider .swiper-slide,
  .product-slider .flex .flex-none {
    width: 213px;
  }
  .product-slider:not(.swiper-initialized) .swiper-slide,
  .product-slider:not(.swiper-initialized) .flex .flex-none {
    flex: 0 0 213px;
  }
}

@media (min-width: 1380px) {
  .product-slider .swiper-slide,
  .product-slider .flex .flex-none {
    width: 216px;
  }
  .product-slider:not(.swiper-initialized) .swiper-slide,
  .product-slider:not(.swiper-initialized) .flex .flex-none {
    flex: 0 0 216px;
  }
}
